.menuContainer {
  display: flex;
  flex-direction: row;
  max-height: 32rem;

  .navItems {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
  }

  .navItems a {
    display: inline-block;
    padding: 1.2rem 0;
  }

  .filmArrow {
    align-self: center;
    padding: 1rem;
    cursor: pointer;
  }
}

.menuContainerFeatured {
  max-height: 44rem;
}

.mt1 {
  margin-top: 3rem;
}
