.menuContainer {
  display: flex;
  flex-direction: row;
  max-height: 32rem;

  div {
    align-self: center;
  }

  .label {
    width: 90%;
    margin-left: 4rem;
  }

  .seeMore {
    text-align: right;

    p {
      font-size: 1.4rem;
      cursor: pointer;
      color: #344c84;

      &:hover {
        color: blue;
      }
    }
  }

  .navItems {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    min-width: 86vw;
  }

  .navItems a {
    display: inline-block;
    padding: 1.2rem 0;
  }

  .filmArrow {
    align-self: center;
    cursor: pointer;
  }
}

.menuContainerFeatured {
  max-height: 44rem;
}

.mt1 {
  margin-top: 3rem;
}

@media only screen and (max-width: 600px) {
  .menuContainer {
    .label {
      margin-left: 0;
    }
  }
}
