.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fff102;
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  flex-direction: column;
}

.navbar {
  background: transparent;
  height: 100px;
  width: 100%;

  .logo {
    font-size: 3.6rem;
    font-family: monospace;
    font-weight: bolder;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.pictures {
  padding: 2.4rem;
  display: flex;
  flex: 1;

  .image {
    height: 60rem;
    width: 60rem;
  }
}

.loginForm {
  width: 40rem;
  padding: 2rem;

  .title {
    font-size: 5.2rem;
  }

  .subTitle {
    display: block;
    margin-bottom: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
  }

  input {
    height: 3.2rem;
    font-size: 1.6rem;
  }

  :global(.ant-input-affix-wrapper) {
    border: yellow;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
  }
}

.inputField {
  margin-bottom: 2rem;
}
