.overlayWrapper {
  position: absolute;
  z-index: 10;
  font-size: 1rem;
  bottom: 25%;
  left: 30%;
  text-align: center;
  width: calc(50% - 5rem);
  height: 15rem;
  background: rgba($color: grey, $alpha: 0.8);

  .details {
    padding-top: 2rem;

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;

      button:first-child {
        position: relative;
        margin-top: 2rem;
        margin-right: 2.5rem;
      }
    }

    .selected {
      border: 2px solid green;
      transform: scale(1.2);
      font-weight: bold;
    }
  }
}
