.overlayWrapper {
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: flex;
  left: 40%;
  text-align: center;
  background: rgba($color: black, $alpha: 0.6);

  .timeLeft {
    position: absolute;
    right: 1rem;
    color: white;
  }

  .details {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;

    h3 {
      color: white;
    }

    .center {
      button:first-child {
        position: relative;
        margin-right: 2.5rem;
      }
    }

    .selected {
      border: 0.3rem solid green;
      transform: scale(1.1);
      font-weight: bold;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  bottom: 0;
  width: 100%;
  height: fit-content;
  justify-content: center;
}
