.container {
  .content {
    min-height: 50rem;
    padding-top: 10rem;

    .player {
      max-height: 100px;
    }
    .movieData {
      margin: 2rem;

      .editTab {
        display: inline-block;
      }
    }
  }
}
