.container {
    .content {
        min-height: 50rem;
        padding-top: 10rem;

        .player {
            min-height: 40rem;
            background-color: aquamarine;
        }

        .movieData {
            margin: 2rem;

            .editTab {
                display: inline-block;

                .input {
                    width: 50%;
                }
            }
        }
    }
}

