$thumb-height: 12px;
$track-width: 100%;
$track-color: #eee;
$contrast: -5%;

.seekerWrapper {
  margin: 0 auto;
  padding: 3rem;

  .reactSeeker {
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 270px;
  }

  [type="range"] {
    -webkit-appearance: none;
    margin: $thumb-height / 2 0;
    width: $track-width;

    &:focus {
      outline: 0;

      &::-ms-fill-lower {
        background: $track-color;
      }
    }
  }
}
