.playerWrapper {
  position: relative;
  padding-top: 45rem; /* Player ratio: 100 / (1280 / 720) */

  .reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
  }

  .wrapper {
    display: flex;
  }

  .mr1 {
    margin-right: 1rem;
  }
}

.webFullScreenWrapper {
  position: absolute;
  height: 93vh;
  width: 100vw;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}
