.logo {
  display: inline-flex;
  color: #000;
  align-items: center;

  .image {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2.4rem;
  }

  .imageMobile {
    display: inline-block;
    padding: 0 1rem 0 2rem;
    font-size: 2rem;
  }

  .text {
    font-weight: bolder;
    font-size: 3rem;
    color: #000;
  }

  .textMobile {
    font-weight: bolder;
    font-size: 2.4rem;
    color: #000;
  }
}

.logo:hover {
  color: #000;
}
