.container {
  width: 92%;
  margin: 0 auto;
  padding-top: 10rem;

  .content {
    padding: 5rem;

    .center {
      text-align: center;
      padding: 2rem;
    }
    
    .inputField {
      margin-bottom: 2rem;
    
      .uploadLinkInput {
        width: 50%; 
      } 
    }
    
    .uploadIcon {
      padding-bottom: 1rem;
      font-size: 1500%;
    }
    
    .error {
      color: red;
    }
    
    .uploadbutton {
      filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
    }

    .videoDetails {
      margin-bottom: 2rem;
    }
  }
}



