.container {
  padding: 4rem;

  .heading {
    display: inline-block;
  }

  .seeMore {
    margin-right: 4rem;
    float: right;

    p {
      font-size: 1.4rem;
      cursor: pointer;
      color: #344c84;

      &:hover {
        color: blue;
      }
    }
  }

  .mobileSeeMore {
    margin-right: 0rem;
  }

  .content {
    display: inline-block;

    .skeleton {
      margin-right: 2rem;
      margin-top: 1rem;
      width: calc(40rem * (9 / 16));
      height: 15rem;
    }

    .movies {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .film {
        padding: 0rem 0.8rem;
      }

      .movieLinks {
        margin: 0.5rem 0;
      }
    }
  }
}
