.filmCardRowMobile {
  margin-top: 1rem;

  .imageWrapper {
    width: 8rem;
    height: 6rem;
    float: left;
    margin-right: 1rem;
    border-radius: 1rem;
  }

  .textWrapper {
    width: 60%;

    p {
      color: #444;
      max-height: 6.6rem;
      overflow: hidden;
      margin-bottom: 0;
      text-overflow: ellipsis;
    }
  }
}
