.container {
  .header {
    color: #000;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 0.9rem 0.3rem rgba(41, 41, 41, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .webHeader {
    padding: 0rem 4.8rem;
  }

  .mobileHeader {
    padding: 0rem;
  }

  .content {
    color: #000;
    background: white;
  }

  .footer {
    text-align: center;
    background-color: #444;
    color: white;
    box-shadow: 1rem 1rem 1rem #fff;
  }

  .webFooter {
    padding: 1.2rem 4.8rem;
  }

  .mobileFooter {
    padding: 1.2rem 2.4rem;
  }
}
