.container {
}

.header {
  background-color: #1A1F38 !important;
  color: white !important;
}

.content {
  background-color: black;
}

.footer {
  text-align: center;
  background-color: #1A1F38 !important;
  color: white !important;
  box-shadow: 1rem 1rem 1rem #fff;
}
