@import "~antd/dist/antd.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html {
  font-size: 62.5%;
}

/* ===== Antd Carousel CSS ===== */
.ant-carousel {
  text-align: center;
}

.ant-slider-carousel > .ant-carousel {
  text-align: left;
}

.ant-carousel .slick-prev {
  left: 0;
  z-index: 1;
}

.ant-carousel .slick-next {
  right: 0;
}

.slick-disabled {
  opacity: 0.25;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #29282a #000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #29282a;
  border-radius: 0.7rem;
  border: 0.1rem solid #000;
}
