html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ===== Antd Carousel CSS ===== */
.ant-carousel {
  text-align: center;
}

.ant-slider-carousel > .ant-carousel {
  text-align: left;
}

.ant-carousel .slick-prev {
  left: 0;
  z-index: 1;
}

.ant-carousel .slick-next {
  right: 0;
}

.slick-disabled {
  opacity: 0.25;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #29282a #000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #29282a;
  border-radius: 0.7rem;
  border: 0.1rem solid #000;
}
