@import "~antd/dist/antd.css";

html {
  font-size: 62.5%;
}

/* ===== Antd Carousel CSS ===== */
.ant-carousel {
  text-align: center;
}

.ant-slider-carousel > .ant-carousel {
  text-align: left;
}

.ant-carousel .slick-prev {
  left: 0;
  z-index: 1;
}

.ant-carousel .slick-next {
  right: 0;
}

.slick-disabled {
  opacity: 0.25;
}

.ant-carousel .ant-typography {
  color: #fff;
}

#filmDetailsDrawer button.ant-drawer-close {
  z-index: 100;
  background: rgba(255, 255, 255, 0.4);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #29282a #eee;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 0;
  width: 0;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #29282a;
  border-radius: 0.7rem;
  border: 0.1rem solid #eee;
}
