.filmcard {
  transition: all 0.3s ease;

  .relative {
    position: relative;

    .details {
      position: absolute;
      z-index: 10;
      align-items: center;
      white-space: nowrap;
      bottom: 0;
      left: 0.8rem;
      text-align: left;
      right: 0;
      margin-right: 0.8rem;
      opacity: 0.8;

      .tag {
        margin-bottom: 0.7rem;
      }

      .title {
        color: #fff;
        background: black;
        font-size: 1.4rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .filmCardImg {
    max-height: 40rem;
    object-fit: contain;
    margin-right: 0.8rem;
    width: calc(40rem * (9 / 16));
    border-radius: 1rem;
  }

  .filmCardImgFeatured {
    max-height: 45rem;
    object-fit: contain;
    margin-right: 0.8rem;
    width: calc(45rem * (9 / 16));
    border-radius: 1rem;
  }

  &:hover {
    transform: scale(1.03);
  }
}
