.filmCard {
  transition: all 0.3s ease;
  display: flex;
  margin: 0.4rem;
  filter: drop-shadow(0.2rem 0.4rem 0.4rem grey);

  .details {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tag {
      color: #444;
      font-size: 1rem;
      margin-bottom: 0;
      display: block;
    }

    .title {
      color: black;
      font-size: 1.4rem;
      font-weight: 500;
      white-space: pre-wrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      line-height: 1.6rem;
      padding: 0.4rem 0rem;
    }

    .description {
      color: #444;
      font-size: 1.2rem;
      white-space: pre-wrap;
      overflow: hidden;
      line-height: 1.4rem;
      max-height: 4.2rem;

      p {
        margin-bottom: 0rem;
      }
    }
  }

  .filmImage {
    object-fit: cover;
    border-radius: 1.2rem;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.alignRight {
  flex-direction: row;
}

.alignBottom {
  flex-direction: column;
}

.xsmall {
  max-width: 12rem;
  min-width: 12rem;
  max-height: 10rem;
  min-height: 10rem;
  height: 10rem;
  width: 12rem;
}

.small {
  max-width: 16rem;
  min-width: 16rem;
  max-height: 10rem;
  min-height: 10rem;
  height: 10rem;
  width: 16rem;
}

.medium {
  max-width: 20rem;
  min-width: 20rem;
  max-height: 15rem;
  min-height: 15rem;
  height: 15rem;
  width: 20rem;
}

.large {
  max-width: 24rem;
  min-width: 24rem;
  max-height: 15rem;
  min-height: 15rem;
  height: 15rem;
  width: 24rem;
}

.detailsRightPadding {
  padding: 1rem;
  margin-left: 0.4rem;
}
