.menuContainer {
  display: flex;
  flex-direction: row;
  max-height: 32rem;

  .label {
    margin-left: 4.4rem;
    font-size: 1.6rem;
  }

  .skeleton {
    margin-right: 2rem;
    margin-top: 1rem;
    min-width: calc(40rem * (9 / 16));
    min-height: 15rem;
  }

  .seeMore {
    text-align: right;
    margin-right: 4rem;

    p {
      font-size: 1.4rem;
      cursor: pointer;
      color: #344c84;

      &:hover {
        color: blue;
      }
    }
  }

  .navItems {
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    flex: 1;
    border-bottom: 1px solid #eee;
  }

  .navItems a {
    display: inline-block;
    padding: 1.2rem 0;
  }

  .filmArrow {
    align-self: center;
    cursor: pointer;
  }
}

.menuContainerFeatured {
  max-height: 44rem;
}

.container {
  padding: 1rem 0rem;
  margin-bottom: 1rem;

  .titleContainer {
    margin-bottom: 0rem;
    justify-content: space-between;

    p {
      margin-bottom: 0rem;
    }
  }
}

.gradientBackground {
  background-image: linear-gradient(180deg, white, #eee);
}

@media only screen and (max-width: 60rem) {
  .menuContainer {
    .label {
      margin-left: 0;
    }

    .seeMore {
      margin-right: 0;
    }
  }
}

.mobilePadding {
  padding: 1rem 2rem;
}
