.container {

    .publishForm {
        align-items: center;

        label {
            float: left;
            width: 10rem;
            margin-right: 1rem;
            padding-left: 2rem;
            font-weight: bolder;
        }

        .backButton {
            margin: 0 1rem;
            background-color: lightgray;
            min-width: 12rem;
            filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        }

        .formButton {
            margin: 0 1rem;
            min-width: 12rem;
            filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
        }
    }
}