.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fff102;
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
  flex-direction: column;
}

.navbar {
  background: transparent;
  height: 100px;
  width: 100%;

  .logo {
    font-size: 3.6rem;
    font-family: monospace;
    font-weight: bolder;
  }
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.pictures {
  padding: 2.4rem;
  display: flex;
  flex: 1;

  .image {
    height: 60rem;
    width: 60rem;
  }
}

.logoutForm {
  width: 50rem;
  padding: 2rem;

  .title {
    font-size: 2.2rem;
  }
}

.inputField {
  margin-top: 2rem;
}

.goToLogin {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
    0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 1.4rem;
  font-weight: 500;

  &:hover {
    box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  }
}
