.container {
  padding: 4rem;

  .searchbox {
    margin-bottom: 5rem;
    text-align: center;

    .search {
      width: 50%;
    }

    .searchMobile {
      width: 100%;
    }

    h1 {
      float: left;
    }
  }

  .content {
    .heading {
      font-weight: bolder;
      font-family: monospace;
      font-size: 2.5rem;
    }

    .searchResultText {
      font-size: 1.6rem;
      color: #444;
      opacity: 60%;
    }

    .dataNotFound {
      text-align: center;

      img {
        height: 40rem;
      }
    }

    .movies {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .film {
        padding: 0.8rem 0.8rem;
      }

      .movieLinks {
        margin: 0.5rem 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 2rem;

    .searchbox {
      width: 100%;
      margin-bottom: 3rem;
    }

    .content {
      .movies {
        display: block;
      }

      h1 {
        font-size: 2rem;
        padding-bottom: 1.2rem;
      }

      .dataNotFound {
        text-align: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
