.container {
  .skeletonBanner {
    min-width: 100vw;
    min-height: 50vh;
  }

  .bannerImage {
    height: 50vh;
    width: 100vw;
    min-height: 40rem;
  }
  .description,
  .comments {
    padding: 1rem 4rem;

    .descriptionDetails {
      display: block;
      padding: 2rem 0rem;
    }

    .descriptionBorder,
    .commentsBorder {
      padding-bottom: 2rem;
      border-bottom: 1px solid #eee;
    }

    .minimisedDescription {
      max-height: 11rem;
      overflow: hidden;
    }
  }

  .metadata {
    display: flex;
    flex-direction: row;
    padding: 2rem 4rem 0rem;

    h3 {
      white-space: pre-wrap;
    }

    .btnWrapper {
      display: flex;

      button {
        margin-right: 0.8rem;
      }
    }

    .mobileButtonsOrder {
      flex-direction: column;
      margin-right: 0rem;
      button {
        margin-right: 0rem;
      }
    }

    .titleMetadata {
      width: 100%;
      padding-bottom: 2rem;
      border-bottom: 1px solid #eee;
      display: flex;
      flex-direction: row;

      .thumbnail {
        max-width: 10rem;
      }

      .titleMargin {
        margin-left: 2rem;
      }
    }
  }

  .ml2 {
    margin-left: 2rem;
  }

  .mb1 {
    margin-bottom: 1rem;
  }
}

.viewMoreText {
  color: gray;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin-top: 1.2rem;
}

.playMovieLabel {
  font-size: 1.4rem;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileButton {
  margin-bottom: 1.2rem;
}

.titleMarginMobile {
  margin-right: 2rem;
}
