.container {
  padding: 10rem 4rem;

  .content {
      display: inline-block;

      .heading {
          font-weight: bolder;
          font-family: monospace;
          font-size: 2.5rem;
      }

      .movies {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .film {
              padding: 0rem 0.8rem;
          }

          .movieLinks {
              margin: 0.5rem 0;
          }
      }
}
}