.loginWithGoogleBtn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 1.2rem 1.6rem 1.2rem 4.2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
    0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #4285f4;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &:hover {
    box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
      0 0.2rem 0.4rem rgba(0, 0, 0, 0.25), 0 0 0 0.3rem #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.04),
      0 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}
